/* AvatarSelectModal */

#AvatarSelectModal {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    overflow: scroll;
    background-color: #000000bf;
}

.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-content {
    max-width: 500px;
}

.modal-header {
    border-bottom: none
}

.modal-body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: xx-large
}

.modal-footer {
    justify-content: center;
    border-top: none
}

.token {
    padding: 5px
}

.token:hover {
    cursor: pointer;
    background-color: #465f88;
    border-radius: 8px;
}


#AvatarIcon {
    font-size: xx-large
}