/* 

*/
#waitingRoomModal {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    overflow: scroll;
    background-color: #000000bf;
}

.waitingRoomBody {
    display: flex;
    justify-content: space-evenly
}