/* 


*/
#wrapper {
    width: 600px;
    height: 600px; 
    background-color: azure;
    border-style: groove;
    border-width: 25px;
    border-color: chocolate;  
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

body {
    background-image: url("https://source.unsplash.com/featured/?animals");
    background-repeat: no-repeat;
    background-size: cover
}

.borderLR {
    border-left: 2px solid  rgb(255, 0, 0); ;  
    border-right: 2px solid rgb(255, 0, 0); ;  
}
.borderTB {
    border-top: 2px solid  rgb(255, 0, 0); ;   
    border-bottom: 2px solid  rgb(255, 0, 0); ;  
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: -webkit-xxx-large;
    width: 100%;
    height: 100%;
}
 footer {
     
     display: flex;
     align-items: center;
     height: fit-content;
 }

 #counter {
     width: 10%
 }

 .cat {
     background-image: url('http://chittagongit.com//images/cat-icon-png/cat-icon-png-2.jpg');
     background-size: cover;
 }

 .dog {
     background-image: url('http://www.newdesignfile.com/postpic/2010/12/free-dog-icons_337083.png');
     background-size: cover;
 }
