.avatarIcon {
    padding: 10px 0px 0px 0px;
    border: solid 2px transparent;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.avatarIcon-text {
    color: white;
    font-weight: 700;
}

.avatarIcon-lg {
    font-size: 5rem;
}

.avatarIcon:focus {
    outline: none;
}

.avatarIcon:hover {
    border-radius: 8px;
    text-shadow: 2px 2px 8px rgba(255, 183, 0, 0.571);
    transform: scale(1.1);
    border: solid 2px rgba(0, 0, 0, 0.221);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}