/* Board */

#boardModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerBar {
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: space-evenly;
    align-items: center;
}

.board {
    max-width: 600px;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 4px solid #2c3e50;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.simpleFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.restricted {
    opacity: 0.3;
}

.closed {
    font-size: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallSquare {
    border: 4px solid #2c3e50;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}

@media only screen and (max-width: 500px) {
    .board {
        border-width: 5px;
        width: 100vw;
        height: 70vh;
    }

    #tokens {
        width: 100%;
    }

    .smallSquare {
        width: 35px;
        height: 35px;
        border: 2px solid #2c3e50;
        font-size: 1.75rem;
    }

    .closed {
        font-size: 5em;
    }
}