/* Board */

#boardModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerBar {
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: space-evenly;
    align-items: center;
}

.board {
    max-width: 600px;
    width: 600px;
    height: 600px;   
    background-color: #cecfc2;
    border: 4px solid #2c3e50;
    border-radius: 6px;
}

.grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.simpleFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.restricted {
    opacity: .5;
    background-color: #000000;
}

.closed {
    font-size: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50
}

.smallSquare {
    border: 4px solid #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}

@media only screen and (max-width: 500px) {
    .board {
        border-width: 5px;
        width: 100vw;
        height: 70vh;
    }

    #tokens {
        width: 100%;
    }

    .smallSquare {
        border: 2px solid #2c3e50;
        font-size: 1.75rem;
    }

    .closed {
        font-size: 5em;
    }
}