/*  */
/* Button  styles */
/*  */
.joinBtn {
    border: 1px solid #d53369;
    font-family: monospace;
    font-size: 1.25rem;
    transition: all 0.5s ease-in-out;
    color: #d53369;
    font-weight: bold;
}

.joinBtn:hover {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: white;
    transition: all 0.5s ease-in-out;
}

.createRoomBtn {
    border: 1px solid #008552;
    font-family: monospace;
    font-size: 1.25rem;
    transition: all 0.5s ease-in-out;
    color: #008552;
    font-weight: bold;
}

.createRoomBtn:hover {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
    color: white;
    transition: all 0.5s ease-in-out;
}

.leaveGameroom {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    border: 1px solid #d53369;
    font-family: monospace;
    font-size: 1.75rem;
    color: whitesmoke;
    font-weight: bold;
}
.leaveGameroom:hover {
    background: linear-gradient(90deg, #c64c75 0%, #b1965b 100%);
}