@font-face {
    font-family: Acme;
    src: url('../fonts/Acme/Acme-Regular.ttf')
}
@font-face {
    font-family: AmaticSC;
    src: url('../fonts/Amatic_SC/AmaticSC-Regular.ttf')
}
@font-face {
    font-family: ArchitectsDaughter;
    src: url('../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf')
}
@font-face {
    font-family: BlackOpsOne;
    src: url('../fonts/Black_Ops_One/BlackOpsOne-Regular.ttf')
}
@font-face {
    font-family: Caveat;
    src: url('../fonts/Caveat/Caveat-Regular.ttf')
}
@font-face {
    font-family: ChelseaMarket;
    src: url('../fonts/Chelsea_Market/ChelseaMarket-Regular.ttf')
}
@font-face {
    font-family: ChauPhilomeneOne;
    src: url('../fonts/Chau_Philomene_One/ChauPhilomeneOne-Regular.ttf')
}
@font-face {
    font-family: Cinzel;
    src: url('../fonts/Cinzel/Cinzel-Black.ttf')
}
@font-face {
    font-family: DancingScript;
    src: url('../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf')
}
@font-face {
    font-family: GloriaHallelujah;
    src: url('../fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf')
}

@font-face {
    font-family: HomemadeApple;
    src: url('../fonts/Homemade_Apple/HomemadeApple-Regular.ttf')
}
@font-face {
    font-family: LobsterTwo;
    src: url('../fonts/Lobster_Two/LobsterTwo-Italic.ttf')
}
@font-face {
    font-family: Monoton;
    src: url('../fonts/Monoton/Monoton-Regular.ttf')
}
@font-face {
    font-family: Montaga;
    src: url('../fonts/Montaga/Montaga-Regular.ttf')
}
@font-face {
    font-family: Orbitron;
    src: url('../fonts/Orbitron/Orbitron-VariableFont_wght.ttf')
}
@font-face {
    font-family: Pacifico;
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf')
}
@font-face {
    font-family: PatrickHand;
    src: url('../fonts/Patrick_Hand/PatrickHand-Regular.ttf')
}
@font-face {
    font-family: PermanentMarker;
    src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf')
}
@font-face {
    font-family: Piedra;
    src: url('../fonts/Piedra/Piedra-Regular.ttf')
}
@font-face {
    font-family: PoiretOne;
    src: url('../fonts/Poiret_One/PoiretOne-Regular.ttf')
}
@font-face {
    font-family: PressStart2P;
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf')
}
@font-face {
    font-family: RobotoMono;
    src: url('../fonts/Roboto_Mono/RobotoMono-Italic.ttf')
}
@font-face {
    font-family: RobotoMono;
    src: url('../fonts/Roboto_Mono/RobotoMono-Italic.ttf')
}
@font-face {
    font-family: RockSalt;
    src: url('../fonts/Rock_Salt/RockSalt-Regular.ttf')
}
@font-face {
    font-family: Sacramento;
    src: url('../fonts/Sacramento/Sacramento-Regular.ttf')
}
@font-face {
    font-family: Satisfy;
    src: url('../fonts/Satisfy/Satisfy-Regular.ttf')
}
@font-face {
    font-family: ShadowsIntoLight;
    src: url('../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf')
}
@font-face {
    font-family: Tangerine;
    src: url('../fonts/Tangerine/Tangerine-Regular.ttf')
}
@font-face {
    font-family: TenaliRamakrishna;
    src: url('../fonts/Tenali_Ramakrishna/TenaliRamakrishna-Regular.ttf')
}